@if (ViewContext.RouteData.Values["controller"].ToString().ToLower() != "home")
{
    <section class="section-box">
        <div class="align-content-lg-start nav-breadcrums">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="a-unordered-list a-nostyle a-button-list a-horizontal a-spacing-top-micro regularAltImageViewLayout">
                        <li class="home">@Html.ActionLink("Home", "Index", "Home") </li>
                        <li>@Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index")</li>
@*                        <li>@Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString()) </li>
*@                    </ul>
                </div>
            </div>
        </div>
    </section>
}